.notify-menu-contain{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 490px;
    height: 75px;
    background: #ccffee;
    border-top: 2px solid gray;
    margin-left: 20px;
    // .notify-menu-contain:hover{
    //     color: red;
    // }
    #follower{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin-left: 15px;
        object-fit: cover;
    }
    .message{
        padding-left: 20px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        color: black;
    }
}
