#save-icon-button {
    width: 37px;
    height: 34px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    #save-icon {
      width: 24px;
      height: 30px;
    }
  }