#home {
    #dashboard-container {
        #quote-container {
            height: 579px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #DBFFEA;
        }
    }
    
}

.page-container {
    padding-top: 80px;
}