#reading-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  font-family: "Castoro";
  #reading-content-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    height: fit-content;
    #save-icon-button {
      width: 37px;
      height: 34px;
      background: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      #save-icon {
        width: 24px;
        height: 30px;
      }
    }
    #author-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      width: 200px;
      #author-ava {
        width: 43px;
        height: 43px;
        border-radius: 100%;
        object-fit: cover;
        margin-right: 25px;
      }
      #author-name-date {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 131.6123046875px;
        font-size: 14px;
        #author-name {
          cursor: pointer;
          margin-top: 0px;
          font-weight: bold;
        }
        #post-date {
          margin-top: 13px;
          margin-bottom: 0px;
        }
      }
    }
  }
  #reading-content-preheader {
    width: 800px;
    #reading-content-title {
      font-size: 32px;
      margin-top: 15px;
      font-family: "Rowdies";
      margin-bottom: 0px;
      align-self: flex-start;
    }
    #reading-content-subtitle {
      font-size: 16px;
      color: #677079;
      margin-top: 26px;
      margin-bottom: 0px;
      align-self: flex-start;
    }
  }
  .reading-content-image {
    margin-top: 6px;
    width: 90%;
    align-self: center;
    border-radius: 5%;
    margin-bottom: 0px;
  }
  #reading-content-body {
    margin-top: 22.57px;
    width: 800px;
    .reading-content-body-title {
      font-size: 25px;
      margin-bottom: 0px;
      margin-top: 0px;
      font-weight: bold;
    }
    .reading-content-body-paragraph {
      margin-top: 10px;
      font-size: 16px;
    }
  }
}
