.signedin-container {
  display: flex;
  align-items: center;
  height: 80px;
  margin-right: 25.5px;
  .signin-navbar-button {
    width: 43px;
    height: 43px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  #bell {
    margin-left: 56.3px;
    margin-right: 46px;
  }
  #avatar-button {
    margin-right: 25px;
    margin-left: 0px;
    #avatar-image {
      width: 43px;
      height: 43px;
      border-radius: 100%;
      object-fit: cover;
    }
  }
  #displayName {
    width: 56px;
    height: 21px;
    font-family: "Arbutus Slab";
    font-size: 21px;
    margin-right: 15px;
    margin-bottom: 5px;
    text-align: right;
    cursor: default;
  }
}
