#comment-area{
    
    #line
    {
        position: relative;
        width: 688.4px;
        height: 0px;
        border: 1px solid #000000;

    }
    #comment-logo
    {
        margin-top: 10px;
        flex-direction: row;
        position: relative;
        display: flex;
        #comment-text{
            width: 110px;
            font-size: 18px;
            font-family: 'Rowdies'
        }
        #img1{
            width: 30px;
            height: 30px;
            padding-top: 2px;
        }
    }
    #input-comment-area
    {
        display: flex;
        flex-direction: row;
        #img2{
            width: 44px;
            height: 44px;
            border-radius: 50%;
            padding-top:14px;   
        }
        #name-and-comment-box{
            display: flex;
            flex-direction: column;
            padding-left: 7px;
            p{
                font-family: 'Roboto';
                font-weight: 700;
                font-size: 14px;
            }
            #box-and-addImage
            {
                display: flex;
                flex-direction: row;
                #text-area{
                    resize: none;
                    width: 603px;
                    height: 41px;
                    border-radius: 10px;
                    background-color: #FFE8BE;
                    border-color: #FFE8BE;
                    border :focus-visible;
                }
                #img3
                {
                    width: 30px;
                    height: 30px;
                    padding-left: 6px;
                      
                }
            }
            #img4
            {
                position: relative;
                width: 135px;
                height: 125px;
                margin-top: 3px;
                border-radius: 10px;
            }
            
        }
    }
    #user-comment{
        display: flex;
        flex-direction: row;
        align-items: start;
        #img5{
            position: relative;
            // padding-top: 14px;
        }
        #info{
            display: flex;
            flex-direction: column;
            padding-left: 7px;
            #name{
                font-family: 'Roboto';
                font-weight: 700;
                font-size: 14px;
                margin:0px;
            }
            #date{
                font-family: 'Roboto';
                font-weight: 400;
                font-size: 14px;
            }
            #comment-content{
                font-family: 'Roboto';
                font-weight: 400;
                font-size: 14px;
                width: 125.4px;
                background-color: #FFE8BE;
                text-align: center;
                border-radius: 10px;
                margin-top: 2px;
                padding-top: 14px;
                padding-bottom: 14px;
            }
        }
    }
}
