.input-comment {

    .line {
        position: relative;
        width: 688.4px;
        height: 0px;
        border: 1px solid #000000;
    }
    .comment-logo {
        margin-top: 10px;
        flex-direction: row;
        position: relative;
        display: flex;
        .comment-text {
            width: 110px;
            font-size: 18px;
            font-family: 'Rowdies'
        }
        .comment-logo{
            width: 30px;
            height: 30px;
            padding-top: 2px;
        }
    }
    .input-of-user {
        display: flex;
        flex-direction: column;
        .ava-and-name {
            display: flex;
            flex-direction: row;
            padding-bottom: 5px;
            p {
                font-family: 'Roboto';
                font-weight: 700;
                font-size: 14px;
                padding-left: 6px;
                margin-top: initial;
            }
        }
        .textarea-and-addImageIcon
        {
            display: flex;
            flex-direction: row;
            padding-left: 51px;   
            .input-text {
                resize: none;
                width: 598px;
                height: 41px;
                border-radius: 10px;
                background-color: #FFE8BE;
                border-color: #FFE8BE;
            }
            #addImageIcon {
                padding-left: 10px;
            }
        }
        .importedImage {
            position: relative;
            width: 135px;
            height: 125px;
            margin-top: 3px;
            border-radius: 10px;
            margin-left: 51px;
        }
    }
}