.create-signature{
    color: black;
    text-decoration: none;
    font-family: 'Arbutus Slab';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    height: 150px;
    margin-left: 420px;
}

.title-field input{
    margin-left: 48px;
    font-size: 15px;
}
// .title-field input:focus{
//     border-bottom: 1px solid black;
// }

.container{
   margin: 0 auto;
   max-width: 960px;
   display: flex;
   flex-direction: column;
}

.white{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
}


.sub-title input{
   margin-left: 28px;
   margin-bottom: -5px;
}
.white{
   margin-bottom: 10px;
   input{
   width : 700px;
   border: 0;
   outline: 0;
   }
   input:focus{
   border-bottom: 1px solid black;
   }
//     .content-field{
//         display: flex;
//     }
//     label{
//         // font-family: ;
//         font-style: normal;
//         font-weight: normal;
//         font-size: 18px;
//         line-height: 21px;
//         margin-top: 22px;
//     }
//     #editorjs{
//          // font-family: Roboto;
//          font-style: normal;
//          font-weight: normal;
//          font-size: 16px;
//          line-height: 25px;
//          width: 986px;
//          padding-top: 1px;
//          padding-bottom: 25px;
//     }
//     hr{ 
//         width: 700px;
        

//     }
//     // textarea{
//     //     // font-family: ;
//     //     margin-left: 27px;
//     //     width: 986px;
//     //     font-size: 16px;
//     //     // line-height: 25px;
//     //     height: 20px;
//     //     border: 0;
//     //     outline: 0;
//     //     margin-top: 16px;
//     //     resize:none;
//     //     white-space: normal;
        
//     //     }
//     //     textarea:focus{
//     //     border-bottom: 1px solid rgb(146, 145, 145); 
//     //    }
}
h5 {
   margin-left: 370px;
   font-size: 30px;

}

.container{
  margin-left: 100px;
  display: flex;
}

::selection {
    background: black;
    color: white;
}