.post-sum-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 71px;
}

.post-sum-container .post-img {
  width: 198.94px;
  height: 197.74px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.post-sum-container p {
  margin-bottom: 5px;
  margin-top: 3px;
}

.post-sum-container .post-sum-content {
  width: 531px;
  margin-left: 30px;
  word-break: break-word;
}

.post-sum-container .post-sum-content .post-author-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.post-sum-container .post-sum-content .post-author-container .post-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.post-sum-container .post-sum-content .post-author-container .post-author p {
  font-family: Arbutus Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-left: 12px;
  margin-bottom: 0px;
}

.post-sum-container .post-sum-content .post-author-container .post-author img {
  height: 31px;
  width: 31px;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.post-sum-container .post-sum-content .post-author-container .favorite-button {
  background: transparent;
  border: none;
  outline: none;
}

.post-sum-container .post-sum-content .title {
  color: black;
  text-decoration: none;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.post-sum-container .post-sum-content .subtitle {
  font-family: 'Arbutus Slab';
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 21px;
  color: #677079;
}

.post-sum-container .post-sum-content .post-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.post-sum-container .post-sum-content .post-info-container .post-date {
  font-family: 'Arbutus Slab';
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 21px;
  color: #000000;
}

.post-sum-container .post-sum-content .post-info-container .view-and-tag-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.post-sum-container .post-sum-content .post-info-container .view-and-tag-container span, .post-sum-container .post-sum-content .post-info-container .view-and-tag-container p {
  font-family: 'Arbutus Slab';
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 21px;
  color: #000000;
}
/*# sourceMappingURL=PostSummary.css.map */